---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="The life of Rasmus Elmersson"
	pubDate={new Date('December 29 2023')}
	heroImage="/Me.png"
>
	<p>
		I was born and raised in Örebro, a charming city in Sweden, alongside a younger sister and an older brother. My childhood was a vibrant mix of sports, travel, and creative pursuits. I vividly remember playing football on the green fields of Örebro, each game brimming with excitement and teamwork. Beyond football, I also delved into shooting sports, finding joy in the precision and focus they required.
	</p>

	<p>
		Traveling with my family opened my eyes to new cultures and landscapes, fueling my passion for visual creativity. This love for the arts manifested in various forms, from sketching to crafting intricate origami figures. Each piece was a reflection of the places we visited and the stories we encountered.
	</p>

	<p>
		One of the more unconventional aspects of my upbringing was my fascination with Jackass-style stunts. My friends and I often recreated these thrilling, yet harmless, stunts, adding a dose of adrenaline and laughter to our days.
	</p>

	<p>
		Overall, growing up in Örebro was a delightful experience, shaped by diverse interests, a supportive family, and the beauty of a city that encouraged exploration and creativity. It was a foundation that helped shape my character and interests, leaving me with a treasure trove of cherished memories.
	</p>

	<p>
		After the formative years in Örebro, I embarked on an incredible journey that took me around the globe. This adventure was not just a trip but a life-changing experience, spanning continents and cultures. I started in North and South America, where the diverse landscapes and vibrant cultures captivated me. Trekking through rainforests, exploring bustling cities, and immersing myself in the rich heritage of these continents was exhilarating.
	</p>

	<p>
		Next, I found myself in the rugged beauty of Australia, a land of contrasts. From its stunning coastlines to the vast outback, Australia offered a unique blend of natural wonders and modern marvels. The laid-back lifestyle and friendly locals added to the charm of this leg of my journey.
	</p>

	<p>
		The Middle East was a tapestry of history and tradition. Here, ancient civilizations and modern cities coexisted, offering a glimpse into a world where the past and present merge seamlessly. The rich history, architectural wonders, and unique culinary experiences were truly mesmerizing.
	</p>

	<p>
		Asia was a continent of endless discovery. Each country I visited had its own identity, from the bustling streets of Southeast Asia to the serene landscapes of the Far East. The diversity of cultures, languages, and traditions was both overwhelming and fascinating.
	</p>

	<p>
		Europe's charm lay in its diversity and history. Traveling through various European countries, I was struck by the different cultures, languages, and landscapes, all within a relatively small area. The rich history, art, and architecture of Europe provided a stark contrast to my experiences in other parts of the world.
	</p>

	<p>
		Finally, this global odyssey led me to Norrköping, Sweden, where I settled down to pursue my education. I chose to study Civil Engineering in Media Technology, a field that resonated with my lifelong interest in visual creation and technology. This education was not just about acquiring technical skills; it was about understanding how media shapes our world and how I could contribute to this dynamic field. The journey that started in the small city of Örebro had taken me around the world and back to Sweden, enriching me with experiences, knowledge, and a clearer vision of my path ahead.
	</p>

	<p>

Now, as a developer living in Stockholm, my journey has taken a new and exciting turn. Stockholm, with its blend of historical charm and modern innovation, provides the perfect backdrop for my career and interests. The city's vibrant tech scene is a constant source of inspiration, and working here allows me to be at the forefront of technological advancements.
	</p>
</Layout>
